<%# locals: (form:, content:) %>

<%= render "form_errors", form: %>

<div class="field">
  <%= form.label :heading %>
  <%= form.text_field :heading %>
</div>

<div class="field">
  <%= form.label :heading_style %>
  <%= form.collection_radio_buttons :heading_style, Katalyst::Content.config.heading_styles, :itself, :itself %>
</div>

<div class="field">
  <%= form.label :theme %>
  <%= form.select :theme, Katalyst::Content.config.themes %>
</div>

<div class="field">
  <%= form.label :visible %>
  <%= form.check_box :visible %>
</div>

<div class="field">
  <%= form.label :content %>
  <%= form.rich_text_area :content, content_editor_rich_text_attributes %>
</div>
