<%= content_item_tag(aside, class: "flow") do %>
  <%= tag.h3 aside.heading, class: aside.heading_style_class if aside.show_heading? %>

  <% if aside.children.any? %>
    <% items = aside.children.select(&:visible?) %>
    <% last = items.pop %>
    <%= tag.div(class: "content-aside", data: { wrap_reverse: ("" if aside.reverse) }) do %>
      <div>
        <%= render_content_items(*items, theme: aside.theme) %>
      </div>
      <div>
        <%= render_content_items(last, tag: :aside, theme: aside.theme) %>
      </div>
    <% end %>
  <% end %>
<% end %>
