<%= content_item_tag aside do %>
  <%= tag.h3 aside.heading, class: aside.heading_style_class if aside.show_heading? %>

  <% if aside.children.any? %>
    <% items = aside.children.select(&:visible?) %>
    <% last = items.pop %>
    <div role="aside-container" <%= "class=reverse" if aside.reverse %>>
      <div>
        <%= render_content_items items %>
      </div>
      <aside>
        <%= render_content_items [last] %>
      </aside>
    </div>
  <% end %>
<% end %>
