<%= content_item_tag column do %>
  <%= tag.h3 column.heading if column.show_heading? %>

  <% items = column.children.select(&:visible?) %>
  <% last = items.pop %>
  <div class="columns-container">
    <div class="column">
      <% if items.any? %>
        <%= render_content_items items %>
      <% elsif last %>
        <%= render_content_items [last] %>
      <% end %>
    </div>
    <div class="column">
      <%= render_content_items [last] if last && items.any? %>
    </div>
  </div>
<% end %>
