<div class="content--editor--new-items"
     data-controller="content--editor--new-items"
     data-action="turbo:before-morph-element->content--editor--new-items#morph">
  <button aria-controls="content--editor--new-items-dialog"
          class="button"
          data-action="click->content--editor--new-items#open"
          data-button-padding="tight"
          data-text-button>
    <icon aria-hidden="true" class="icon" data-icon="add">&nbsp;</icon>
    <%= t(".add_item") %>
  </button>
  <div class="content--editor--inline-add" data-content--editor--new-items-target="inline" hidden>
    <button aria-controls="content--editor--new-items-dialog"
            class="button"
            data-action="content--editor--new-items#open"
            data-button-padding="tight">
      <icon aria-hidden="true" class="icon" data-icon="add">&nbsp;</icon>
      <span class="visually-hidden"><%= t(".add_item_inline") %></span>
    </button>
  </div>
  <dialog id="content--editor--new-items-dialog" class="modal" data-action="click->content--editor--new-items#click">
    <article class="flow">
      <header class="repel" data-nowrap>
        <h2><%= t(".add_item") %></h2>
        <button class="button"
                data-action="click->content--editor--new-items#close"
                data-button-padding="tight"
                data-text-button>
          <icon aria-hidden="true" class="icon" data-icon="close">&nbsp;</icon>
          <span class="visually-hidden"><%= t(".close") %></span>
        </button>
      </header>
      <main>
        <%= tag.div(role: "list") do %>
          <ul role="list" class="items-list">
            <%= render Katalyst::Content::Editor::NewItemComponent.with_collection(items) %>
          </ul>
        <% end %>
      </main>
    </article>
  </dialog>
</div>
