<div class="content--editor--new-items"
     data-controller="content--editor--new-items"
     data-action="turbo:before-morph-element->content--editor--new-items#morph">
  <%= tag.button(aria:  { controls: "content--editor--new-items-dialog" },
                 class: "content--editor--add-button",
                 data:  { action: "content--editor--new-items#open" }) do %>
    Add content
  <% end %>
  <%= tag.div(class:  "content--editor--inline-add",
              data:   { "content--editor--new-items_target" => "inline" },
              hidden: "") do %>
    <%= tag.button(aria: { controls: "content--editor--new-items-dialog", label: "Add content here" },
                   data: { action: "content--editor--new-items#open" }) %>
  <% end %>
  <%= tag.dialog(id: "content--editor--new-items-dialog", data: { action: "click->content--editor--new-items#close" }) do %>
    <%= tag.div(role: "list", data: { action: "click->content--editor--new-items#noop:stop" }) do %>
      <%= render Katalyst::Content::Editor::NewItemComponent.with_collection(items) %>
    <% end %>
  <% end %>
</div>
