<div class="content--editor--new-items"
     data-controller="<%= NEW_ITEMS_CONTROLLER %>"
     data-action="turbo:before-morph-element-><%= NEW_ITEMS_CONTROLLER %>#morph">
  <%= tag.button(aria:  { controls: "#{NEW_ITEMS_CONTROLLER}-dialog" },
                 class: "content--editor--add-button",
                 data:  { action: "#{NEW_ITEMS_CONTROLLER}#open" }) do %>
    Add content
  <% end %>
  <%= tag.div(class:  "content--editor--inline-add",
              data:   { "#{NEW_ITEMS_CONTROLLER}_target" => "inline" },
              hidden: "") do %>
    <%= tag.button(aria: { controls: "#{NEW_ITEMS_CONTROLLER}-dialog", label: "Add content here" },
                   data: { action: "#{NEW_ITEMS_CONTROLLER}#open" }) %>
  <% end %>
  <%= tag.dialog(id: "#{NEW_ITEMS_CONTROLLER}-dialog", data: { action: "click->#{NEW_ITEMS_CONTROLLER}#close" }) do %>
    <%= tag.div(role: "list", data: { action: "click->#{NEW_ITEMS_CONTROLLER}#noop:stop" }) do %>
      <%= render Katalyst::Content::Editor::NewItemComponent.with_collection(items) %>
    <% end %>
  <% end %>
</div>
