<%= form_with model: figure, scope: :item, url: path do |form| %>
  <%= render "hidden_fields", form: form %>
  <%= render "form_errors", form: form %>

  <%= content_editor_image_field item: figure, method: :image do |builder| %>
    <div class="field">
      <%= form.label :image %>
      <div>
        <%= builder.preview class: "image-wrapper" %>
      </div>
      <%= form.file_field :image, **builder.file_input_options %>
      <hint><%= builder.hint_text %></hint>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :heading %>
    <%= form.text_field :heading %>
  </div>

  <div class="field">
    <%= form.label :background %>
    <%= form.select :background, Katalyst::Content.config.backgrounds %>
  </div>

  <div class="field">
    <%= form.label :visible %>
    <%= form.check_box :visible %>
  </div>

  <div class="field">
    <%= form.label :caption %>
    <%= form.text_field :caption %>
  </div>

  <%= form.submit "Done" %>
  <%= link_to "Discard", :back %>
<% end %>
