<nav class="index-table-actions">
  <div class="item-actions">
    <%= link_to "Add", %i[new admin page], class: "button button--primary" %>
  </div>
</nav>

<%= table_query_with(collection:) %>

<%= table_with(collection:) do |row, page| %>
  <%= row.text :title do |cell| %>
    <%= link_to cell.value, [:admin, page] %>
  <% end %>
  <%= row.text :slug %>
  <%= row.enum :state %>
  <%= row.text :actions, label: "" do |cell| %>
    <span>
      <%= link_to "Preview", page_path(page.slug) %> |
      <%= link_to "Edit", [:edit, :admin, page] %>
      </span>
  <% end %>
<% end %>
