<%# locals: (page:, editor:) %>

<div class="repel">
  <div>
    <h1><%= page.title %></h1>
    <span><%= link_to("Pages", [:admin, Page]) %></span>
  </div>

  <%= link_to("Edit", edit_admin_page_path(page), class: "button", data: { text_button: "" }) %>
</div>

<%= render editor.status_bar %>

<%= render editor do |editor_component| %>
  <% editor_component.with_new_items do |component| %>
    <h3>Layouts</h3>
    <ul role="list" class="items-list">
      <%= component.item(:section) %>
      <%= component.item(:group) %>
      <%= component.item(:column) %>
      <%= component.item(:aside) %>
    </ul>
    <h3>Content</h3>
    <ul role="list" class="items-list">
      <%= component.item(:content) %>
      <%= component.item(:figure) %>
      <%= component.item(:table) %>
    </ul>
  <% end %>
<% end %>
