<%# locals: (form:, table:) %>

<div class="flow" data-controller="content--editor--table">
  <%= render "form_errors", form: %>

  <div class="field">
    <%= form.label :heading %>
    <%= form.text_field :heading %>
  </div>

  <div class="field">
    <%= form.label :heading_style %>
    <%= form.collection_radio_buttons :heading_style, Katalyst::Content.config.heading_styles, :itself, :itself %>
  </div>

  <div class="field">
    <%= form.label :theme %>
    <%= form.select :theme, Katalyst::Content.config.themes, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :visible %>
    <%= form.check_box :visible %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <% content = sanitize_content_table(normalize_content_table(form.object, heading: false)) %>
    <%= form.hidden_field :content, value: content, data: { content__editor__table_target: "input" } %>
  </div>

  <div class="field">
    <%= form.label :heading_rows %>
    <%= form.text_field :heading_rows, type: :number, data: { action: "input->content--editor--table#update" } %>
  </div>

  <div class="field">
    <%= form.label :heading_columns %>
    <%= form.text_field :heading_columns, type: :number, data: { action: "input->content--editor--table#update" } %>
  </div>

  <%= form.button "Update",
                  class:      "button",
                  formaction: table.persisted? ? katalyst_content.table_path : katalyst_content.tables_path,
                  data:       { ghost_button: "", content__editor__table_target: "update" } %>
</div>
