<%= form_with model: table, scope: :item, url: path do |form| %>
  <%= render "hidden_fields", form: %>
  <%= render "form_errors", form: %>

  <div class="field">
    <%= form.label :heading %>
    <%= form.text_field :heading %>
  </div>

  <div class="field">
    <%= form.label :heading_style %>
    <%= form.collection_radio_buttons :heading_style, Katalyst::Content.config.heading_styles, :itself, :itself %>
  </div>

  <div class="field">
    <%= form.label :background %>
    <%= form.select :background, Katalyst::Content.config.backgrounds %>
  </div>

  <div class="field">
    <%= form.label :visible %>
    <%= form.check_box :visible %>
  </div>

  <div class="field" data-controller="content--editor--table">
    <%= form.label :content %>
    <div contenteditable="true"
         data-content--editor--table-target="content"
         data-action="paste->content--editor--table#paste"><%= sanitize_content_table form.object %></div>
    <%= form.hidden_field :content, data: { content__editor__table_target: "input" } %>
  </div>

  <%= form.submit "Done" %>
  <%= link_to "Discard", :back %>
  <%= form.button "Update",
                  formaction: table.persisted? ? content_routes.table_path : content_routes.tables_path,
                  data: { action: "update" } %>
<% end %>
