<%= form_with model: section, scope: :item, url: path do |form| %>
  <%= form.hidden_field :container_type %>
  <%= form.hidden_field :container_id %>
  <%= form.hidden_field :type %>

  <%= tag.div class: "errors" do %>
    <% section.errors.full_messages.each do |error| %>
      <li class="error"><%= error %></li>
    <% end %>
  <% end if section.errors.any? %>

  <div class="field">
    <%= form.label :heading %>
    <%= form.text_field :heading %>
  </div>

  <div class="field">
    <%= form.label :show_heading %>
    <%= form.check_box :show_heading %>
  </div>

  <div class="field">
    <%= form.label :background %>
    <%= form.select :background, Katalyst::Content.config.backgrounds %>
  </div>

  <div class="field">
    <%= form.label :visible %>
    <%= form.check_box :visible %>
  </div>

  <%= form.submit "Done" %>
  <%= link_to "Discard", :back %>
<% end %>
