<%= link_to page.title, page_path(page) %>

<%= form_with model: page do |form| %>
  <div class="field required">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field optional">
    <%= form.label :slug %>
    <%= form.text_field :slug %>
  </div>

  <div class="button-row">
    <%= form.submit :save %>
    <%= link_to "Delete", url_for(action: :show),
                class: "button button-secondary",
                data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  </div>
<% end %>
