<nav class="index-table-actions">
  <div class="item-actions">
    <%= link_to "Add", [:new, :page], class: "button button--primary" %>
  </div>
</nav>

<%= table_with collection: pages, sort: sort, class: "index-table" do |row, page| %>
  <%= row.cell :title do |cell| %>
    <%= link_to cell.value, page %>
  <% end %>
  <%= row.cell :slug %>
<% end %>
