<%= link_to "Pages", pages_path %>

<%= form_with model: page do |form| %>
  <div class="field required">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field optional">
    <%= form.label :slug %>
    <%= form.text_field :slug %>
  </div>

  <%= form.submit %>
<% end %>
